{% extends "base.html" %}
{% block title %}Reset Password — SPREX NOVA{% endblock %}
{% block body %}
<div class="auth-pg">
  <div class="blob" style="width:400px;height:400px;top:-120px;right:-120px;opacity:.08"></div>

  <div class="auth-box">
    <div class="auth-logo">
      <img src="{{ url_for('static',filename='img/logo.png') }}" class="auth-logoimg" alt="SPREX NOVA"/>
      <div>
        <div class="al-name">SPREX NOVA</div>
        <div class="al-sub">Password recovery</div>
      </div>
    </div>
    <h1 class="auth-title">Reset password</h1>
    <p class="auth-sub">Enter your email and choose a new password</p>

    <form method="POST">
      <div class="fg">
        <label class="fl">Email address</label>
        <div class="finp"><span class="ficon"></span><input name="email" type="email" class="fc" placeholder="you@company.com" required/></div>
      </div>
      <div class="fg">
        <label class="fl">New password</label>
        <div class="finp"><span class="ficon">🔒</span><input name="new_password" type="password" class="fc" placeholder="Min 6 characters" required/><button type="button" class="peye">◎</button></div>
      </div>
      <div class="fg">
        <label class="fl">Confirm new password</label>
        <div class="finp"><span class="ficon">🔒</span><input name="confirm" type="password" class="fc" placeholder="Repeat" required/><button type="button" class="peye">◎</button></div>
      </div>
      <button type="submit" class="btn btn-p btn-full btn-lg">Reset password</button>
    </form>
    <div class="auth-foot"><a href="{{ url_for('login') }}" style="font-weight:600">← Back to login</a></div>
  </div>
</div>
{% endblock %}
